<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .errorlist li { color: red; }
      .helptext { color: navy; }
      label { color: #a82d2d; }
    </style>
  </head>
  <body>
    {% block main %}
    {% endblock %}
  </body>
</html>
