{% extends 'main/base.html' %}

{% block main %}
  <ul style="display:block; position: relative;">
    <li style="display: block; position: absolute; right: 0;"><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
  {% block content %}{% endblock %}
{% endblock %}
