{% extends 'main/base_landing.html' %}

{% block content %}
  <h1>Welcome User</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Make Payment</button>
  </form>
{% endblock %}
