{% extends 'main/base.html' %}

{% block main %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
  <a href="{% url 'login' %}"><button type="button">Back to login</button></a>
{% endblock %}
